<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
                <%= gravatar_for @user %>
                <%= @user.name %>
                
                <%# 自分で追加（課題２) %>
                </br>
                <%= link_to "Followings", followings_user_path %>
                </br>
                <%= link_to "Followers", followers_user_path %>
                <%# ここまで課題２ %>
                
            </h1>
            <%# 自分で追加 %>
            <h2>
                Region: <%= @user.region %>
            </h2>
            <%# 自分で追加 %>
        </section>
    </aside>
    <div class="col-md-8">
        
        <%= render 'follow_form' if logged_in? %>
        
        <% if @user.microposts.any? %>
            <h3>Microposts (<%= @user.microposts.count %>)</h3>
            <ol class="microposts">
                <%= render @microposts %>
            </ol>
        <% end %>
    </div>
</div>
